<header>
  <div class="header-nav">
    <img src="../public/images/baseball1.png">
    <img src="../public/images/xxx.png">
    <img src="../public/images/baseball1.png" alt="baseball1">
    <a href="#">aaa</a>
  </div>
</header>
